@import "./variable.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, var(--bg-dark), var(--bg-light));
  color: var(--text-main);
  overflow-x: hidden;
}
